/* Hero full-width */
.fullHero {
  width: 100%;
  text-align: center;
  padding: 2rem 2rem 2rem 2rem;
  background-size: cover;
  background-blend-mode: overlay;
  /* background-image: linear-gradient(135deg, #666666 0%, #999999 100%),
        url("/img/cube-background.jpg"); */
  background-color: #e8e8e8;
  color: #000000;
}
html[data-theme="dark"] .fullHero {
  background-color: #202020;
  color: white;
}

.heroInner {
  max-width: 900px;
  margin: 0 auto;
}

.heroTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.heroSubtitle {
  font-size: 1.25rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  margin-bottom: 0.5rem;
}
